.btn-primary {
    color: #fff;
    background-color: #813AFE !important;
    border-color: #813AFE !important;
}
.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}
.reset{
    color: black;
}

.w-100{
    width: 430px;
    height: 430px;
    margin-left: 50px;

}